.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: #343a40 !important;
}
.logoBox {
  background: #28a745;
  padding: 0.1em;
  display: flex;
  border-radius: 25px 25px 0 0;
  margin: 5px;
}
.logo {
  font-size: 2.5rem;
}
@media only screen and (max-width: 992px) {
  .logoBox {
    display: none;
  }
}
.menuLogo {
  font-size: 2.5rem;
  display: none;
}
@media only screen and (max-width: 992px) {
  .menuLogo {
    display: flex;
    background: #28a745;
    padding: 0.1em;
    border-radius: 25px 25px 0 0;
    margin: 5px;
  }
}
.navlink {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
  :active {
    background-color: #343a404e;
  }
}
.icon {
  color: #fff;
}
.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .p {
    line-height: 1;
  }
}
.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  padding: 5px;
  background-color: #28a745;
  color: #fff;
  margin: 0 5px;
  font-size: 24px;
  align-items: center;
}
